html{
    color: white;
    font-family: monospace;
    background-repeat: no-repeat;
    background-image: url("redish.jpg");
    padding-left: 0px;
    background-size:cover;
    font-size: large;
}

#main {
    backdrop-filter: blur(25px);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(20, 20, 20, 0.700);
}

#horizontal_block {
    width: 80vw;
    padding-top: 0.01vh;
    padding-bottom: 0.01vh;
    padding-right: 1dvw;
    padding-left: 1dvw;    
    border-radius: 1vh;
    margin-left: 1dvw;
    margin-right: 1dvw;
    margin-bottom: 2vh;
    background-color: rgba(0, 0, 0, 0.500);
}

#o {
    font-weight: 600;
}

#dash {
    padding-top: 1.6vh;
    background-color: rgba(5, 5, 5, 0.671);
    justify-content: center;
    display: flex;
    margin-bottom: 2vh;
}

#name {
    width: 100%;
    text-align: center;
    font-family: monospace;
    color: white;
    font-weight: 500;
    font-size: large;
    margin-bottom: 3vh;
    text-decoration: none;
    width: 100vw;
}

#box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    border-radius: 0.5vh;
    text-align: center ;
    width: 20dvw;
    backdrop-filter: blur(20px);
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    background-color: rgba(31, 31, 31, 0.12);
}

.redirects {
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 1vh;   
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;   
    width: 20vw;
    font-size: medium;    
    font-weight: 600;
    background-color: rgba(66, 66, 66, 0.120);
}

.redirects:hover {
    background-color: rgb(0, 0, 0);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top:1dvh;
    padding-bottom: 1dvh;
    background-color: rgb(0, 0, 0);
    text-align: center;
}